<%- include('../adminlayout/header.ejs') %>
    <%- include('../adminlayout/navbar.ejs') %>


        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <form action="/admin/addproduct" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">price</label>
                        <input type="tel" class="form-control" name="price" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">stock</label>
                        <input type="text" class="form-control" name="stock" value="" required>
                    </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input type="text" class="form-control" name="description" required>
                    </div>
                    <div class="bg-light rounded p-1">
                        <h6 class="mb-4">Category</h6>

                        <select class="form-select mb-3" name="fruits" id="fruits" aria-label="Default select example">
                            <option value="">select</option>
                            <% category.forEach((element)=> { %>
                                <option value="<%= element.category  %>">
                                    <%= element.category %>
                                </option>
                                <% }) %>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Image</label>
                        <input class="form-control" type="file" name="image" id="formFile" width="48" height="480px" multiple>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>
        <%- include('../adminlayout/footer.ejs') %>