<%- include('../adminlayout/header.ejs') %>
    <%- include('../adminlayout/navbar.ejs') %>

        <div class="container-fluid pt-4 px-4">
            <a href="/admin/addproduct">
                <button class="btn btn-primary">addproduct</button>
            </a>
            
            <div class="row g-4">
                <div class="col-12">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Responsive Table</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Pic</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">price</th>
                                        <th scope="col">category</th>
                                        <th scope="col">stock</th>
                                        <th scope="col">description</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach((element,index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index+1 %>
                                            </td>
                                            <td>
                                                <img src="/ProductImages/<%= element.image[0] %>" alt=""
                                                    style="height: 100px; width:100px; object-fit: cover;">
                                            </td>
                                            <td>
                                                <%= element.name %>
                                            </td>
                                            <td>
                                                <%= element.price %>
                                            </td>
                                            <td>
                                                <%= element.category %>
                                            </td>
                                            <td>
                                                <%= element.stock %>
                                            </td>
                                            <td>
                                                <%= element.description %>
                                            </td>
                                            <td><a href="/admin/edit-product/<%= element._id %>">edit</a></td>
                                            <td><a href="/admin/deleteproduct/<%=  element._id %>">delete</a></td>
                                        </tr>

                                        <% }) %>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table End -->

        <%- include('../adminlayout/footer.ejs') %>