<%- include('../adminlayout/header.ejs') %>
    <%- include('../adminlayout/navbar.ejs') %>

        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Responsive Table</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Number</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Controller</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% users.forEach((element,index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index+1 %>
                                            </td>
                                            <td>
                                                <%= element.name %>
                                            </td>
                                            <td>
                                                <%= element.email %>
                                            </td>
                                            <td>
                                                <%= element.mobile %>
                                            </td>

                                            <td class="alert-danger">
                                                <% if (element.blockuser === true) { %>
                                                    blocked
                                                    <% } else { %>
                                                        active
                                                <% } %>
                                            </td>
                                            <td>
                                                <% if (element.blockuser == true) { %>
                                                    <a class="btn btn-success" href="/admin/block/<%=  element._id %>">unblock</a>
                                                 <% } else { %>
                                                  <a class="btn btn-danger" href="/admin/unblock/<%=  element._id %>">block</a>
                                                <% } %>
                                            </td>
                                        </tr>

                                        <% }) %>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table End -->

        <%- include('../adminlayout/footer.ejs') %>