<%- include('../layout/header.ejs') %>
    <%- include('../layout/after-login') %>

        <head>
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
                id="bootstrap-css">
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <!------ Include the above in your HEAD tag ---------->
            <style>
                .invisible {
                    display: none;
                }
            </style>
        </head>
        <div class="container wrapper">

            <div class="row cart-body">
                <form class="form-horizontal" id="myForm">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                        <!--REVIEW ORDER-->
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Review Order <div class="pull-right"><small><a class="afix-1" href="/view-cart">Edit
                                            Cart</a></small></div>
                            </div>
                            <div class="panel-body">
                                <!-- cart product  starting -->
                                <% let totalPrice=0 %>
                                    <% users.cart.forEach((element)=> { %>

                                        <div class="form-group">
                                            <div class="col-sm-3 col-xs-3">
                                                <img class="img-responsive"
                                                    src="/ProductImages/<%= element.product.image[0] %>" />
                                            </div>
                                            <div class="col-sm-6 col-xs-6">
                                                <div class="col-xs-12">
                                                    <%= element.product.name %>
                                                </div>
                                                <div class="col-xs-12"><small>Quantity:<span>
                                                            <%= element.quantity %>
                                                        </span></small></div>
                                                <input type="text">
                                            </div>
                                            <% let pdt_total_Price=0 %>
                                                <div class="col-sm-3 col-xs-3 text-right">
                                                    <h6><span>$</span>
                                                        <%= pdt_total_Price=element.quantity* element.product.price %>
                                                    </h6>
                                                    <% totalPrice +=pdt_total_Price %>
                                                </div>
                                        </div>
                                        <% }) %>

                                            <!-- cart product ending -->
                                            <div class="form-group">
                                                <hr />
                                            </div>

                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <strong>Subtotal</strong>
                                                    <div class="pull-right"><span>$</span><span>
                                                            <%= totalPrice %>
                                                        </span></div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <small>Shipping</small>
                                                    <div class="pull-right">$<span>50</span></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <hr />
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <strong>Order Total</strong>
                                                    <input type="number" style="display: none;" name="totalprice"
                                                        value="<%= totalPrice+50 %>">
                                                    <div class="pull-right"><span>$</span><span>
                                                            <%= totalPrice+50 %>
                                                        </span></div>
                                                </div>
                                            </div>
                            </div>
                        </div>
                        <!--REVIEW ORDER END-->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                        <!--SHIPPING METHOD-->
                        <div class="panel panel-info">
                            <div class="panel-heading">Address</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h4>Shipping Address</h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <strong> Name:</strong>
                                        <input type="text" name="name" class="form-control" value="<%= users.name %>" />
                                    </div>
                                    <div class="span1"></div>
                                </div>

                                <% if (users.address.length> 0) { %>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Address:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="house" class="form-control"
                                                value="<%= users.address[0].house %>" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>City:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="city" class="form-control"
                                                value="<%= users.address[0].city %>" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>District:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="district" class="form-control"
                                                value="<%= users.address[0].district %>" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>State:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="state" class="form-control"
                                                value="<%= users.address[0].state %>" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                                        <div class="col-md-12">
                                            <input type="text" name="post" class="form-control"
                                                value="<%= users.address[0].post%>" />
                                        </div>
                                    </div>
                                    <% } else { %>
                                        <a href="/add-address" class="btn btn-danger">Add address</a>
                                        <% } %>
                                            <div class="form-group">
                                                <div class="col-md-12"><strong>Phone Number:</strong></div>
                                                <div class="col-md-12"><input type="text" name="mobile"
                                                        class="form-control" value="<%= users.mobile %>" /></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12"><strong>Email Address:</strong></div>
                                                <div class="col-md-12"><input type="text" name="email"
                                                        class="form-control" value="<%= users.email %>" /></div>
                                            </div>
                            </div>
                        </div>

                        <div class="panel panel-info">
                            <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Payement
                                Method</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <input type="radio" class="col-1" name="payment" value="COD" required>
                                    <div class="col-md-12">
                                        <strong class="col-5">Cash On Delivery</strong>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="radio" class="col-1" name="payment" value="OP" required>
                                    <div class="col-md-12">
                                        <strong class="col-5">Online Payement</strong>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <button type="submit" class="btn btn-primary btn-submit-fix">Place
                                            Order</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
            const form = document.getElementById('myForm');
            function paymentOrder(response, name, email, mobile) {
                var options = {
                    "key": "rzp_test_0vN6fDOIHGEZ8I", // Enter the Key ID generated from the Dashboard
                    "amount": response.amount_due, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Acme Corp", //your business name
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": response.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
                    "prefill": {
                        "name": name, //your customer's name
                        "email": email,
                        "contact": mobile
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }, "handler": function (response) {
                        console.log(response)
                        verifyPayment(response)
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
                e.preventDefault();
            }
            function verifyPayment(response){
                $.ajax({
                    url: "/verify-payment",
                    method: 'POST',
                    data: {
                        razorpay_payment_id:response.razorpay_payment_id,
                        razorpay_order_id:response.razorpay_order_id,
                        razorpay_signature:response.razorpay_signature
                    },
                    encoded: false,
                    success: function (response) {
                        if(response.payment){
                            location.href = `/confirmation/${response.orderid}`
                        }
                    }
                });
            }
            form.addEventListener('submit', function (event) {
                event.preventDefault(); // prevent the default form submission

                // your code to handle the form submission goes here

                // you can access form fields using the form elements array or by name
                const name = form.elements['name'].value;
                const email = form.elements['email'].value;
                const city = form.elements['city'].value;
                const district = form.elements['district'].value;
                const state = form.elements['state'].value;
                const post = form.elements['post'].value;
                const house = form.elements['house'].value;
                const payment = form.elements['payment'].value;
                const mobile = form.elements['mobile'].value;
                const totalPrice = parseInt(form.elements['totalprice'].value)
                console.log(totalPrice)
                const amount = totalPrice * 100
                // you can also create a FormData object to send the form data via AJAX
                const formData = new FormData(form);
                $.ajax({
                    url: "/post-order",
                    method: 'POST',
                    data: {
                        name: name,
                        house: house,
                        post: post,
                        city: city,
                        state: state,
                        district: district,
                        payment: payment,
                        totalprice: amount
                    },
                    encoded: true,
                    success: function (response) {
                        console.log(response)
                        if (response.payment == "COD") {
                            location.href = `/confirmation/${response.orderid}`
                        } else {
                            paymentOrder(response, name, email, mobile)
                        }

                    }
                });


                // use AJAX to submit the form data to the server

            });

        </script>

        <%- include('../layout/footer.ejs') %>